@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap'); 
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif; 
}

header {  
    background:rgb(192, 192, 196);
    height: 75px;
    
    
}



   .top_navbar .logo{
    margin-top:;
    width: 250px;
    font-size: 30px;
    font-weight: 700;
    padding: 10 25px;
    color: red;
    letter-spacing: 2px;
    inline-size: 90px;
    
    
    
    
    
    
   }

   .nav-bar li{
    margin-top: -20px;
    float: right;
   
    
   }
   .nav-bar ul {
    margin-top: -25px;
    
    
   }

   .nav-bar ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
    font-size: 25px;
    
   }
   .nav-bar a{
    color: red;
    text-decoration: none;
     
   }
   .nav-bar a:hover{
    background-color: black;

   }


   .hero {
    margin-top: 90px;

    height: 700px;;

    background:url(./pexels-祝-鹤槐-716281.jpg) no-repeat center / cover;
   }



   

  .text {
    background: #ffffff69;
    width:80%;
    height: 200px;
    
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top:200px ;
    


    
  } 
  .text h1 {
    margin-top: -50px;
    margin-bottom: 50px;
  }



body {
    background:  url("") no-repeat; 

    
       
}





h1 {
    font-size: 3rem; 
    font-family: 'Poppins';
    padding-bottom: 20px; 
}

p {
    line-height: 40px;
     
}

button {
    padding: 15px 60px; 
    margin-top: 30px; 
    border-radius: 5rem;
    border: 0; 
    cursor: pointer; 
    color: #674baf;
    font-size: 1em;
    font-weight: 600;
    transition: 0.3s all ease;

}

button:hover {
    color: #fff; 
    background: red; 
}



.box {
    border: 3px solid;
    width: 100%;
    height: 125px;
   
}

.box:hover {
    color: #fff; 
    background: rgb(158, 72, 72); 
}


/* footer */

footer {
    padding-top: 100px;
    text-align: center;
    background-color: rgb(146, 148, 148);  
}

.fab {
    border: 2px solid #fff; 
    padding: 10px 10px; 
    border-radius: 50%; 
    margin-left: 20px; 
    color: #fff; 
    transition: 0.3s all ease;  
    margin-bottom: 10px;
}

.fa-facebook-f {
    padding: 10px 13px;   
}

.fab:hover {
    color: red;
    border-color: #fff;
    background-color: #fff;
    cursor: pointer; 
}  



    

   

   
    
    h1 {
        font-size: 1.8em; 
    }

    button {
        padding: 15px 90px; 
    }
    .features {
        height: 700px;
    }

    footer {
        text-align: center;
        padding-top: 160px; 
        height: 700px; 
    } 

