@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap'); 

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif; 
}

header {  
    background: rgb(240, 240, 241);
    height: 75px;
}

.top_navbar .logo, .logo {
    width: 250px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 25px;
    color: rgb(17, 17, 17);
    letter-spacing: 2px;
    inline-size: 90px; 
    
     
}

.nav-bar li {
    margin-top: -20px;
    float: right;   
}

.nav-bar ul {
    margin-top: -38px;    
}

.nav-bar ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
    font-size: 25px;
}

.nav-bar a {
    color: rgb(10, 10, 10);
    text-decoration: none;
    background: #f3f4f5;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
}

.nav-bar a:hover {
    background-color: rgb(204, 190, 190);
}

.hero {
   
}

#heroimg  {
    opacity: 30%;

   
} 



.text {
    color: #0c0000;
    background: #f7ecec;
    width: 80%;
    height: 260px;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -700px;
    margin-bottom: 420px;
    border-radius: 25px; 
    display: block;
   
}

.text h1 {
    margin-top: -50px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 32px;

}

.features{
    background: rgb(241, 241, 243);  
    border-radius: 50px;
}


#container1 {
    display: flex;
    margin-top: 40px;
    background: #f0f1f3;
    border: 1px black solid;

}

#container2 {
    display: flex;
    margin-top: 40px;
    background: #b2b3b4;
    border: 1px black solid;
    
}

#container3 {
    display: flex;
    margin-top: 40px;
    background: #dbdbdd;
    margin-bottom: 40px;
    border: 1px black solid;
    
}

body {
    background: rgb(168, 167, 167);        
}

h1 {
    font-size: 3rem; 
    font-family: 'Poppins';
    padding-bottom: 20px; 
}

p {
    line-height: 40px;
    font-size: 20px;    
}

button {
    padding: 15px 60px;
    margin-top: 30px; 
    margin-bottom: 40px;
    border-radius: 5rem;
    border: 0; 
    cursor: pointer; 
    color: #674baf;
    font-size: 1em;
    font-weight: 600;
    transition: 0.3s all ease;
}

button:hover {
    color: #fff; 
    background: red; 
}

/* Footer */
footer {
    text-align: center;
    background-color: rgb(103, 107, 107); 
    height: 160px;
}

.fab {
    border: 2px solid #fff; 
    padding: 10px 10px; 
    border-radius: 50%; 
    margin-left: 20px; 
    color: #fff; 
    transition: 0.3s all ease;  
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-facebook-f {
    padding: 10px 13px;   
}

.fab:hover {
    color: red;
    border-color: #fff;
    background-color: #fff;
    cursor: pointer; 
}
